*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: grey;
}

header{
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    background-color: white;
}

main{
    width: 70%;
    margin: 0 auto;
}

#logo{
    width: 50px;
    vertical-align: middle;

}

#title{
    display: inline-block;
    vertical-align: middle;
}

.add{
    height: 40px;
    background-color: white;
    margin-top: 20px;
    padding-left: 40px;
    padding-top: 12px;
   
}

#task{
    vertical-align: middle;
}

#section{
    vertical-align: middle;
}

.list{
    padding: 20px;
    padding-left: 40px;
    margin-top: 5px;
    background-color: white;
}

h3::before{
    content: '\2BC6';
}

#do_it::before{
    content: '\1F5F8'
}

#nope::before{
    content: '\10102'
}